.cproject
.project
.pydevproject
build/
cmake_install.cmake
msg_gen/
src/speakeasy/__init__.pyc
src/speakeasy/libspeakeasy.pyc
src/speakeasy/msg/
*.pyc
*~
.project
.classpath
buttonPrograms
src/speakeasy/srv/
srv_gen
src/speakeasy/tapper/QTCreatorFiles/tapBeat/tapBeat.pro.user
src/speakeasy/tapper/QTCreatorFiles/tapBeat/PickSong.pro.user
src/speakeasy/tapper/QTCreatorFiles/PickSong/PickSong.pro.user
src/speakeasy/tapper/QTCreatorFiles/beatChooser/beatChooser.pro.user
src/speakeasy/tapper/QTCreatorFiles/tapeRecorder/tapeRecorder.pro.user
sounds/music/.nfs00000000002f635b00000c29
src/speakeasy/tapper/QTCreatorFiles/saySomething/saySomething.pro.user
*.pro.user
sounds/music/.nfs00000000032804a700000003
src/utilities/speakeasy_utils.py.orig
